@charset "UTF-8";
@font-face {
  font-family: 'Euclid';
  src: url(../fonts/EuclidFlex-Regular.otf);
  src: url(../fonts/EuclidFlex-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Euclid';
  src: url(../fonts/EuclidFlex-Light.otf);
  src: url(../fonts/EuclidFlex-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Euclid';
  src: url(../fonts/EuclidFlex-Medium.otf);
  src: url(../fonts/EuclidFlex-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Euclid';
  src: url(../fonts/EuclidFlex-Semibold.otf);
  src: url(../fonts/EuclidFlex-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Euclid';
  src: url(../fonts/EuclidFlex-Bold.otf);
  src: url(../fonts/EuclidFlex-Bold.ttf);
  font-weight: 700;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  min-height: 100vh;
  font-family: 'Euclid';
  font-size: 30px;
  color: white;
}

.container {
  max-width: 75%;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  line-height: 130%;
  position: relative;
  display: inline;
}

.title::before {
  content: '';
  position: absolute;
  width: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 5px;
  background-color: black;
  bottom: -10px;
}

.subtitle {
  color: #616161;
  font-size: 30px;
  text-align: center;
}

.text {
  font-size: 20px;
  line-height: 120%;
}

.intro {
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

.intro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  z-index: 1;
}

.video__media {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}

.header {
  padding-top: 100px;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70vh;
}

.header__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__item-link {
  background-color: transparent;
  border: none;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.menu__item-link:hover {
  color: #a35aef;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  text-align: center;
  font-size: 3.15vw;
}

.header__title-top {
  -webkit-animation-name: header__title-top;
          animation-name: header__title-top;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header__title-bottom {
  -webkit-animation-name: header__title-bottom;
          animation-name: header__title-bottom;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes header__title-top {
  0% {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes header__title-top {
  0% {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.header__btn {
  background-color: #a35aef;
  color: white;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.header__btn:hover {
  background-color: white;
  color: #361a34;
}

.about {
  background-color: white;
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__inner {
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__item-img {
  width: 30%;
  margin-bottom: 20px;
}

.about__item-text {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.about__forme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__me {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about__me-img {
  width: 40%;
  margin-bottom: 20px;
  border-radius: 50px;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.about__me-title {
  margin-bottom: 20px;
}

.about__me-text {
  max-width: 70%;
  text-align: center;
}

.tech__block {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.tech__title {
  margin-bottom: 50px;
  max-width: 90%;
}

.tech__list {
  max-width: 100%;
}

.tech__item {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  background-color: #eeeeee;
}

.tech {
  background-color: #a35aef;
  margin-right: 10px;
  height: 30px;
}

.tech__css {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.tech__html {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.tech__js {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.tech__php {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.tech__ps {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.tech__figma {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.tech__name {
  text-transform: uppercase;
  width: 150px;
  height: 100%;
  background-color: #290c5c;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech__percent {
  display: inline;
}

.works {
  background-color: #f5f5f5;
  color: black;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contacts {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__title {
  position: relative;
  color: black;
  margin-bottom: 100px;
  text-align: center;
  display: inline;
}

.contacts__title::before {
  content: '';
  position: absolute;
  width: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 5px;
  background-color: black;
  bottom: -10px;
  display: inline;
}

.contacts__text {
  color: #a35aef;
  margin-bottom: 40px;
  width: 100%;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

.form__input {
  margin-bottom: 15px;
  outline: none;
  border: none;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 20px;
  background-color: #290c5c;
  color: white;
}

.form__input::-webkit-input-placeholder {
  color: #a0a5a7;
  text-align: center;
}

.form__input:-ms-input-placeholder {
  color: #a0a5a7;
  text-align: center;
}

.form__input::-ms-input-placeholder {
  color: #a0a5a7;
  text-align: center;
}

.form__input::placeholder {
  color: #a0a5a7;
  text-align: center;
}

.form__input-textarea {
  height: 200px;
}

.form__input-textarea:focus {
  border: 1px solid #616161;
}

.form__input-text:focus {
  color: white;
}

.form__input-textarea:focus {
  background-color: white;
  color: black;
}

.form__btn {
  margin-top: 40px;
  width: 250px;
  cursor: pointer;
  background-color: #253861;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form__btn:hover {
  background-color: white;
  color: #253861;
}

.footer {
  background-color: black;
}

.social {
  display: none;
}

.footer__text {
  font-size: 15px;
  text-align: center;
  color: #eeeeee;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 12px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */
  background-color: #1f0840;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #a35aef;
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
          box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}
